<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="../../../Public/Css/css.css" rel="stylesheet" type="txt/css">
        <title>Title</title>
        <?php include("AddMessage.php")?>
    </head>
    <body>
        <form action="AddMessage.php" method="post">
            用户：<input type="text" size="10" name="user"/><br>
            标题：<input type="text" name="title"/><br>
            内容：<textarea name="content"></textarea><br>
            <input type="submit" name="submit" value="发布留言"/>

        </form>
    </body>


</html>